/*  Created by Jackie Sanchez
    Date: 4/7/2026
    Description:
*/

/* Center everything*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Special+Elite';
}

/* maintains 16:9 aspect ratio for the game container */
#game-container {
    aspect-ratio: 16/9;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgb(46, 21, 46);
}